:root {
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-bg-color: white;
  --main-text-color: black;
  --dark-bg-color: #121212;
  --dark-text-color: #e0e0e0;
  --error-bg-color: #fee;
  --error-text-color: #c33;

  --viadee-primary-color: #ff5546;
  --viadee-primary-color-hover: #e64b3e;
  --viadee-primary-color-active: #cc4236;
  --viadee-text-color: white;
  --viadee-text-color-muted: #777;
  --viadee-color-border: #424242;

  color-scheme: light dark;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--viadee-primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--viadee-primary-color-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.4em;
  line-height: 1;
}

main {
    margin-top: 2rem;
    padding: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--viadee-primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--viadee-primary-color-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--dark-text-color);
    background-color: var(--dark-bg-color);
  }
  a:hover {
    color: var(--viadee-primary-color-hover);
  }
  button {
    background-color: var(--viadee-primary-color);
  }
}
