#root {
    margin: 0 auto;
}

.card {
    background-color: var(--main-bg-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
}

.error {
    background-color: var(--error-bg-color);
    color: var(--error-text-color);
    padding: 0.75rem;
    border-radius: 2rem;
    border: 1px solid var(--error-text-color);
    text-align: center;
}